html,
body {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.box {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #666;
  min-height: 100vh;
  display: block;
}

div {
  display: block;
}

label {
  font-weight: 600;
  color: #333645;
  display: inline-block;
  margin-bottom: 5px;
  cursor: default;
}

label.required:after {
  content: " *";
  color: #d24d57;
}

footer {
  background-color: #323544;
  color: #fff;
  padding: 47px 0 0;
}

footer h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
}

h4 {
  display: block;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  font-size: 0.8125rem;
  line-height: 1.375rem;
}

footer ul li a,
footer ul li a:hover {
  color: #fff;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

a {
  text-decoration: none;
  color: #333645;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main-navigation {
  background-color: #333645;
  position: relative;
  display: none;
}

.h2,
.h3,
.h4,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0 0 15px;
  color: #333645;
}

.h2,
h2 {
  font-size: 2rem;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
}

.item.software .block {
  padding: 15px;
}

.block {
  display: block;
  border: 1px solid #ccc;
  padding: 30px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.article-list .item .block h3 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.article-list .item .block h3 .read-time {
  display: inline;
  text-transform: uppercase;
  color: rgba(51, 54, 69, 0.5);
  font-size: 0.85rem;
  vertical-align: middle;
}

.article-list .item .block h3 a {
  color: #4183d7;
  font-weight: 600;
}

.client-item-container {
  display: flex;
}

.client-item-container {
  justify-content: space-between;
}

.form {
  display: block;
  width: 100%;
}

.sign-up-inputs-wrapper {
  display: flex;
}

.sign-up-input {
  flex-grow: 1;
}

.newsletter-full-width,
.sign-up {
  background-color: #ddd;
  margin: 0;
  display: block;
}

.sign-up {
  margin: 30px auto 0;
  padding: 50px 0;
}

.form-control {
  height: 47px;
  padding: 5px 15px;
  width: 96%;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

label.pretty-checkbox {
  line-height: 32px;
  cursor: pointer;
}

label.pretty-checkbox .button {
  border-radius: 3px;
  border: 3px solid #333645;
  height: 32px;
  width: 32px;
  position: relative;
  float: left;
  margin: 0 20px 0 0;
}

label.pretty-checkbox .button [type=checkbox] {
  display: none;
}

div > .form-group {
  margin: 0 0 15px;
}

.btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
}

.btn-primary {
  color: #fff;
  background-color: #333645;
  border-color: #333645;
}

footer .footer-row .footer-social-logos a {
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  line-height: 26px;
  padding: 12px 22px 16px;
  background-color: #212330;
  margin-right: 7px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 0.8125rem;
  padding-top: 10px;
  width: 100%;
  left: 0;
  background: #212330;
  border: 0;
}

footer .footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-menu {
  width: 200px;
  box-sizing: border-box;
}

.footer-bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-bottom .license {
  text-decoration: none;
  list-style: none;
  color: #fff;
  display: flex;
  padding: 5px 0 10px;
  width: 100%;
}

footer .footer-row {
  flex-direction: row;
}

footer .footer-row .footer-logo img {
  width: 100%;
}

.footer-company-info {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}

@media (min-width: 768px) {
  footer .footer-row .row {
    flex-grow: 1;
    display: flex;
  }
  .container {
    width: 750px;
  }
}
@media (min-width: 480px) {
  .footer-bottom .license ul {
    display: flex;
  }
  footer .footer-row .footer-logo {
    width: 320px;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .col-md-3 {
    width: 25%;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
  footer .footer-row .row .footer-menu {
    margin-bottom: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
