html,
body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.box {
  display: none;
}

.container {
  box-sizing: content-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #666;
  min-height: 100vh;
  display: block;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

p {
  line-height: 1.875rem;
  margin-bottom: 25px;
}

img {
  vertical-align: middle;
}

label {
  font-weight: 600;
  color: #333645;
  display: inline-block;
  margin-bottom: 5px;
  cursor: default;
}

label.required:after {
  content: " *";
  color: #d24d57;
}

footer {
  background-color: #323544;
  color: #fff;
  padding: 47px 0 0;
}

footer h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
}

h4 {
  display: block;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  font-size: 0.8125rem;
  line-height: 1.375rem;
}

footer ul li a,
footer ul li a:hover {
  color: #fff;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

a {
  text-decoration: none;
  color: #333645;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main-navigation {
  background-color: #333645;
  position: relative;
  display: none;
}

.h2,
.h3,
.h4,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0 0 15px;
  color: #333645;
}

.h2,
h2 {
  font-size: 2rem;
}

.btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.btn-primary {
  color: #fff;
  background-color: #333645;
  border-color: #333645;
}

.container.section {
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.homepage-branded-text .brand-background {
  background-color: #333645;
}

.cms-block .brand-background {
  color: #fff;
}

.cms-block .brand-background .h1 {
  margin-top: -6px;
  margin-bottom: 40px;
}

.cms-block .brand-background .h1,
.cms-block .brand-background .h2,
.cms-block .brand-background .h3,
.cms-block .brand-background a:not(.btn),
.cms-block .brand-background h1,
.cms-block .brand-background h2,
.cms-block .brand-background h3,
.cms-block .brand-background strong {
  color: #fff !important;
}

.cms-block .brand-background span.client-quote {
  font-weight: 600;
  font-size: 1.3rem;
  font-style: italic;
}

.cms-block .brand-background span.client-quote-author {
  font-weight: 600;
  color: #a3a8ac;
  font-size: 1.1rem;
}

.cms-block a:not(.btn),
.cms-block strong:not(.btn) {
  font-weight: 600;
}

.cms-block .brand-background .btn-primary-inverse {
  color: #fff;
  background-color: #272936;
}

.cms-block .brand-background .btn-google,
.cms-block .brand-background .btn-primary-inverse,
.cms-block .brand-background .btn-trustpilot {
  border-radius: 6px;
  padding: 10px 30px;
  font-size: 20px;
}

.cms-block .brand-background .btn-google {
  background-color: #4387f6;
  margin-right: 8px;
}

.cms-block .brand-background .btn-trustpilot {
  background-color: #00b67b;
  display: inline-flex;
  white-space: nowrap;
  max-width: fit-content;
}

.cms-block .brand-background .btn-google,
.cms-block .brand-background .btn-trustpilot {
  margin-top: 25px;
  border: none;
}

.btn-trustpilot {
  position: relative;
  /* Make sure the parent is positioned */
}

em.icon-arrow-right {
  margin-left: 12px;
  margin-right: -4px;
}

.bar {
  padding-top: 50px;
}

.latest-articles .headings-container {
  display: flex;
  justify-content: space-between;
}

.cms-block strong:not(.btn) {
  font-weight: 600;
  color: #333645;
}

.cms-block img {
  height: auto;
}

.article-list .item.img-container {
  position: relative;
}

.img-container img {
  max-width: 100%;
}

.article-list .item .img-container .category {
  position: absolute;
  right: 0;
  top: 10px;
  color: #fff;
  font-size: 0.75rem;
  padding: 0 10px;
  line-height: 1.438rem;
  text-transform: uppercase;
  background-color: #4183d7;
  z-index: 1;
  margin-right: 15px;
}

.article-list .item.web .img-container .category {
  position: absolute;
  right: 0;
  top: 10px;
  color: #fff;
  font-size: 0.75rem;
  padding: 0 10px;
  line-height: 1.438rem;
  text-transform: uppercase;
  background-color: #926fb1;
  z-index: 1;
  margin-right: 15px;
}

.block {
  display: block;
  border: 1px solid #ccc;
  padding: 30px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.latest-articles .section {
  padding-top: 15px;
}

.article-list .item {
  font-size: 0.8125rem;
  margin-top: 30px;
  position: relative;
  top: 0;
}

.article-list .item .block h3 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.article-list .item .block h3 .read-time {
  display: inline;
  text-transform: uppercase;
  color: rgba(51, 54, 69, 0.5);
  font-size: 0.85rem;
  vertical-align: middle;
}

.article-list .item .block h3 a {
  color: #4183d7;
  font-weight: 600;
}

.article-list .item .block p {
  line-height: 1.375rem;
  font-size: 0.8125rem;
}

.article-list .item .block .btn {
  font-weight: 400;
}

.btn.btn-software {
  color: #fff;
  background-color: #67809f;
  border-color: #67809f;
}

.btn.btn-web {
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
}

.article-list .item .user {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}

.user {
  display: table;
  width: 100%;
  font-size: 0.875rem;
}

.user > .avatar {
  width: 1%;
  border-radius: 50%;
  overflow: hidden;
}

.user > * {
  display: table-cell;
  vertical-align: middle;
}

.user > .details {
  padding-left: 20px;
  line-height: 1.375rem;
}

.details > strong.text-primary {
  font-weight: 600;
  color: #333645 !important;
}

.client-item-container {
  display: flex;
}

.client-item-container {
  justify-content: space-between;
}

.client-item-container img {
  max-height: 70px;
  width: auto !important;
  max-width: 200px;
  filter: grayscale(1);
}

.form {
  display: block;
  width: 100%;
}

.sign-up-inputs-wrapper {
  display: flex;
}

.sign-up-input {
  flex-grow: 1;
}

.newsletter-full-width,
.sign-up {
  background-color: #ddd;
  margin: 0;
  display: block;
}

.sign-up {
  margin: 0px auto 0;
  padding: 50px 0;
}

.form-control {
  height: 47px;
  padding: 5px 15px;
  width: 96%;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

label.pretty-checkbox {
  line-height: 32px;
  cursor: pointer;
}

label.pretty-checkbox .button {
  border-radius: 3px;
  border: 3px solid #333645;
  height: 32px;
  width: 32px;
  position: relative;
  float: left;
  margin: 0 20px 0 0;
}

label.pretty-checkbox .button [type=checkbox] {
  display: none;
}

div > .form-group {
  margin: 0 0 15px;
}

footer .footer-row .footer-social-logos a {
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  line-height: 26px;
  padding: 12px 22px 16px;
  background-color: #212330;
  margin-right: 7px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 0.8125rem;
  padding-top: 10px;
  width: 100%;
  left: 0;
  background: #212330;
  border: 0;
}

footer .footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-menu {
  width: 200px;
  box-sizing: border-box;
}

.footer-bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-bottom .license {
  text-decoration: none;
  list-style: none;
  color: #fff;
  display: flex;
  padding: 5px 0 10px;
  width: 100%;
}

footer .footer-row {
  flex-direction: row;
}

footer .footer-row .footer-logo img {
  width: 100%;
}

.footer-company-info {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}

@media (min-width: 768px) {
  footer .footer-row .row {
    flex-grow: 1;
    display: flex;
  }
  .container {
    width: 750px;
  }
}
@media (min-width: 480px) {
  .footer-bottom .license ul {
    display: flex;
  }
  footer .footer-row .footer-logo {
    width: 320px;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}
@media (min-width: 768px) {
  .article-list .item .block h3 {
    min-height: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .col-md-3 {
    width: 25%;
  }
  .article-list .item p {
    min-height: 66px;
  }
  .col-md-6 {
    width: 50%;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
  footer .footer-row .row .footer-menu {
    margin-bottom: 40px;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
}

/*# sourceMappingURL=style.css.map */
