// ==========================================================================
// Media Queries
// ==========================================================================

@media (min-width: 768px) {
    footer .footer-row .row {
        flex-grow: 1;
        display: flex;
    }

    .container {
        width: 750px
    }
}


@media (min-width: 480px) {
    .footer-bottom .license ul {
        display: flex;
    }

    footer .footer-row .footer-logo {
        width: 320px;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none;
    }
}


@media (min-width: 992px) {
    .container {
        width: 970px
    }

    .col-md-3 {
        width: 25%;
    }

}

@media (min-width: 1260px) {
    .container {
        width: 1200px
    }

    footer .footer-row .row .footer-menu {
        margin-bottom: 40px;
    }



}